@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Quicksand', sans-serif;
}

header {
    box-sizing: border-box;
    background-color: #0D1321;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 4em;
    margin-left: 20px;
}

li, a {
    text-decoration: none;
    color: #F0EBD8;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline; 
    padding: 0px 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
}
.nav-links li a:hover {
    color: #0D1321;
}

footer{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px 20px;
    background-color: #0D1321;
    color: #F0EBD8;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    
}
.social-icons a i {
    transition: all .3s ease 0s;
}
.social-icons a i:hover {
    color: #F0EBD8;
}

@media (max-width: 700px) {
    footer, header{
        flex-direction: column;
    }
    .footer-bottom, .social-icons{
        text-align: center;
    }

}