@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --heading-font:'Playpen Sans', cursive
}


* {
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #0D1321;
    color: #F4F4F4;
    line-height: 1.6;
}

/* Homepage styles */
/* header styles */
header {
    display: grid;
    grid-template-columns: 0.25fr auto;
    background-color: rgba(239, 234, 215, 0.495);
    padding: 0 30px;
}
.logo img{
    width: 60px;
    grid-column: 1/2;
    transform: scale(1);
    transition: .3s ease;
}
.logo img:hover{
    translate: 0 5px;
    transform: scale(1.1);
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    padding: 35px;
    color: #0D1321;
    transition: all .3s ease 0s;
}
nav a:hover {
    color: #F0EBD8;
    background-color: #0D1321;
}


/* introduction styles */
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.intro img {
    width: 100%;
    margin-top: -140px;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
.intro h2 {
    font-family: var(--heading-font);
    font-size: 60px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
}
.intro p {
    padding-top: 10px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 4/5;
    color: #F0EBD8;
    align-content: center;
    padding: 2px;
}


/* featured projects */
.featured-projects {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
}
.featured-projects h2{
    font-family: var(--heading-font);
    margin: 10px;
    text-align: center;
}
.featured-projects ul {
    list-style: none;
}


/* about us */
.aboutus {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.aboutus h2 {
    font-family: var(--heading-font);
    grid-column: 2/3;
    text-align: center;
    margin-bottom: 10px;
}
.aboutus figure {
    grid-column: 2/3;
    font-style: italic;
    font-size: 12px;

}
.aboutus figure img {

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.aboutus p {
    grid-column: 1/4;
    margin-top: 10px;
    text-align: center;
}


/* services styles */
.services {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}
.services h2 {
    font-family: var(--heading-font);
    text-align: center;
}
.services ul li a {
    text-decoration: none;
    color: #F0EBD8;
}


/* testimonials styles */
.testimonials {
    padding: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.testimonials h2 {
    font-family: var(--heading-font);
    grid-column: 1/4;
    padding-bottom: 10px;
}
#testimonial1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
#testimonial2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
#testimonial3 {
    grid-column: 3/4;
    grid-row: 4/5;
}


/* contact us styles */
.contactus {
    text-align: center;
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}
.contactus h2 {
    font-family: var(--heading-font);
}


/* Newsletter Styles */
.newsletter {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
.newsletter h2 {
    font-family: var(--heading-font);
    margin-bottom: 20px;
    color: #F0EBD8;
}
.newsletter p {
    color: #F0EBD8;
    margin-bottom: 10px;
}

/* Also apply for the form in services page */
form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
label {
    grid-column: 2/3;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #F0EBD8;
}
input[type="email"], input[type="text"] {
    grid-column: 3/4;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F0EBD8;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F0EBD8;
}
button {
    grid-column: 3/4;
    padding: 10px 20px;
    justify-self: center;
    border: none;
    border-radius: 5px;
    width: 50%;
    background-color: #F2994A;
    color: #F0EBD8;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e06022;
}

/* Sevices page styles */
/* Services styles */
.services-provided {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.services-provided img {
    margin-top: -110px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
.services-provided h2 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 60px;
    font-style: italic;
    font-family: var(--heading-font);
}
#services-contents {
    grid-column: 1/4;
    grid-row: 2;
    border-radius: 10px;
    padding: 4em 20em;
    margin-top: 40px;
    text-align: center;
    line-height: 2;
}
#services-contents h3 {
    font-style: italic;
    padding: 10px 0;
}
#services-contents p {
    font-style: italic;
    padding: 10px 0;
}
/* Booking and inqury Form styles */
.booking {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
.booking select {
    grid-column: 3/4;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #F0EBD8;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #F0EBD8;
    font-style: italic;
}
.booking select option {
    text-align: center;
    color: #0D1321;
    background-color: rgba(239, 234, 215, 0.1)
}

/* FAQ styles */
.faq {
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
.faq dl dt {
    text-align: left;
}
.faq dl dd {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: italic;

}


/* Sound Gallery page styles */
.project-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.project-showcase img {
    margin-top: -110px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
.project-showcase h2 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 60px;
    font-style: italic;
    font-family: var(--heading-font);
}
.project-showcase p {
    text-align: center;
    grid-column: 1/4;
    grid-row: 2;
    margin: 10px 0 10px 0;
}
.project-showcase article h3{
    text-align: center;
}
.project-showcase article p{
    text-align: left;
    padding-left: 25%;
    text-decoration: none;
}
.project-showcase article p a{
    text-decoration: none;
    color: #F0EBD8;
}
#article-1 {
    grid-column: 1/2;
    grid-row: 3;
    padding: 20px;
    margin-top: 40px;
}
#article-2 {
    grid-column: 2/3;
    grid-row: 3;
    padding: 20px;
    margin-top: 40px;
}
#article-3 {
    grid-column: 3/4;
    grid-row: 3;
    padding: 20px;
    margin-top: 40px;
}
.success-stories{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #1C1F33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
.success-stories h2 {
    grid-column: 1/6;
}
.success-stories p {
    grid-column: 2/5;
    margin: 10px 0 10px 0;
}
.success-stories article {
    grid-column: 2/5;
    margin: 10px 0 10px 0;
}

.behind-the-scenes {
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(28, 31, 48, 0.712);
}
.behind-the-scenes p a {
    text-decoration: none;
    color: #F0EBD8;
}

/* footer styles */
footer{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px 20px;
    background-color: #0D1321;
    color: #F0EBD8;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
}
.footer-bottom p {
    font-size: small;
}
.footer-bottom a {
    text-decoration: none;
    color: #F2994A;
    margin-left: 20px;
    transition: all .3s ease 0s;
}
.footer-bottom a:hover {
    color: #e06022;
    font-style: italic;
}
.social-icons a {
    text-decoration: none;
    padding: 10px;

}
.social-icons a i {
    transition: all .3s ease 0s;
    transform: scale(1);
    transition: transform all .3s ease 0s;
}
.social-icons a i:hover {
    color: #F0EBD8;
    transform: scale(2);
    
}

@media (max-width: 700px) {
    footer, header{
        flex-direction: column;
    }
    .footer-bottom, .social-icons{
        text-align: center;
    }

}